# Key
SECURE_KEY=MUST_BE_128BITS_OR_256BITS
PASSPHRASE=YOUR_STRONG_PASSPHRASE

# Solana RPC
SOLANA_MAINNET_RPC=https://api.mainnet-beta.solana.com
SOLANA_TESTNET_RPC=https://api.testnet.solana.com
SOLANA_DEVNET_RPC=https://api.devnet.solana.com

# Solana WebSocket
SOLANA_MAINNET_WS=wss://api.mainnet-beta.solana.com
SOLANA_TESTNET_WS=wss://api.testnet.solana.com
SOLANA_DEVNET_WS=wss://api.devnet.solana.com